<?php 
$I = new AcceptanceTester($scenario);
$I->wantTo('auto claim e-book');
$I->amOnPage('/'); 
$I->see('Log in');
$I->fillField('email', 'youremail@domain.com');
$I->fillField('password', 'yoursecretpassword');
$I->click('Login');
$I->amOnPage("/account/my-ebooks");
$I->amOnPage('/packt/offers/free-learning');
$I->click("Claim Your Free eBook");
$I->amOnPage("/account/my-ebooks");
$I->see('My Account');
?>